<launch>
    <rosparam command="load" file="$(find frc_robot_slam)/config/slam.yaml"/>

    <!-- Choose Hector Slam, GMapping, or ICP Odometry -->
    <arg name="gmapping" default="false" />
    <arg name="hector" default="false" />
    <arg name="rgbd_odom" default="false" />
    <arg name="camera_frame" default="camera"/>



    <!-- Nodelets for RTABMap -->

    <group ns="rtabmap">
    
    

        <!-- Nodelet to sync Depth Image and RGB Image into PointCloud2 -->

        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
            <remap from="rgb/image"		to="/$(arg camera_frame)/rgb/image_raw"/>
            <remap from="depth/image"		to="/$(arg camera_frame)/depth/image_raw"/>
            <remap from="rgb/camera_info"	to="/$(arg camera_frame)/rgb/camera_info"/>
            <remap from="rgbd_image"		to="rgbd_image"/> <!-- Output -->
        </node>


        <!-- Nodelet to differentiate obstacles from ground in an RGBD image -->

        <node pkg="nodelet" type="nodelet" name="obstacle_detection" args="standalone rtabmap_ros/obstacles_detection" output="screen">
            <remap from="cloud"		to="/$(arg camera_frame)/depth/points"/>
        </node>

    </group>



    <!-- Using GMapping -->

    <group if="$(arg gmapping)">
    <include file="$(find frc_robot)/launch/localization.launch"/>

    </group>

    <group unless="$(arg gmapping)">



    <!-- Using Hector SLAM -->

    <group if="$(arg hector)">
    <!-- Odometry from laser scans -->
    <node if="$(arg hector)" pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen"/>


    </group>



    <!-- Using ICP Odometry -->

    <group unless="$(arg hector)">



    <!-- Using RGBD ICP -->

    <group if="$(arg rgbd_odom)">
        <include file="$(find frc_robot)/launch/localization.launch"/>

    </group>

    <group unless="$(arg rgbd_odom)">
        
        
        
        <!-- Using LaserScan ICP -->
        
        <node pkg="rtabmap_ros" type="icp_odometry" name="icp_odometry" output="screen" >
            <remap from="scan"      to="/scan"/>
            <remap from="odom"      to="/odom"/>
            <remap from="odom_info"      to="/rtabmap/odom_info"/>
        </node>
        
    </group>
    </group>
    </group>







    <group ns="rtabmap">
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
    <remap from="rgb/image"		to="/$(arg camera_frame)/rgb/image_raw"/>
    <remap from="depth/image"		to="/$(arg camera_frame)/depth/image_raw"/>
    <remap from="rgb/camera_info"	to="/$(arg camera_frame)/rgb/camera_info"/>
    <remap from="rgbd_image"		to="rgbd_image"/> <!-- Output -->
    </node>



    <!-- SLAM -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
    <remap from="scan" to="/scan"/>

    <!-- As hector doesn't provide compatible covariance in the odometry topic, don't use the topic and fix the covariance -->
    <param name="odom_frame_id"            type="string" value="map"/>
    <param name="odom_tf_linear_variance"  type="double" value="0.0005"/>
    <param name="odom_tf_angular_variance"	type="double" value="0.0005"/>

    </node>
    </group>

</launch>
