<launch>
    <rosparam command="load" file="$(find frc_robot)/config/slam_hector.yaml"/>
    
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" output="screen" >
        <remap from="scan" to="/scan" />
    </node>
    
    <group ns="rtabmap">
        
        <!-- SLAM -->
        <!-- args: "delete_db_on_start" and "udebug" -->
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
            <remap from="scan" to="/scan"/>

            <!-- As hector doesn't provide compatible covariance in the odometry topic, don't use the topic and fix the covariance -->
            <param name="odom_frame_id"            type="string" value="map"/>
            <param name="odom_tf_linear_variance"  type="double" value="0.0005"/>
            <param name="odom_tf_angular_variance"	type="double" value="0.0005"/>
        </node>
    </group>

</launch>
