<launch>
    <rosparam command="load" file="$(find frc_robot_slam)/config/slam_rtabmap.yaml"/>
    
    <group ns="rtabmap">
        
        <!-- SLAM -->
        <!-- args: "delete_db_on_start" and "udebug" -->
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
        <!--<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen"> -->
            <remap from="scan" to="/scan"/>
            <remap from="odom" to="/odom"/>
            <remap from="rgbd_image" to="/rtabmap/rgbd_image"/>
            <remap from="grid_map" to="/map"/>
        </node>
    </group>
</launch>
