<launch>

  <arg name="gui"          default="true" />
  <arg name="model"        default="$(find frc_robot)/urdf/00-default.urdf.xacro"/>
  <arg name="model_swerve" default="$(find frc_robot)/urdf/00-default-swerve.urdf.xacro"/>
  <arg name="rvizconfig"   default="$(find frc_robot)/rviz/urdf_display.rviz" />
  <arg name="swerve"       default="false" />

  <param name="use_gui" value="$(arg gui)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <group unless="$(arg swerve)">
    <param name="robot_description" command="xacro --inorder $(arg model)" />
  </group>
  
  <group if="$(arg swerve)">
    <param name="robot_description" command="xacro --inorder $(arg model_swerve)" />
  </group>
  
</launch>
