<launch>
  <arg name="lidar" default="true" />
  <arg name="kinect" default="true" />

  
  <!-- Sensor readings -->
  
  <include if="$(arg lidar)" file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <include if="$(arg kinect)" file="$(find openni_launch)/launch/openni.launch">
    <param name="depth_registration" type="bool" value="true"/>
  </include>
  
</launch>
