<launch>
  <arg name="lidar"	default="true" />
  <arg name="kinect"	default="true" />

  <!-- Sensor readings -->

  <include if="$(arg lidar)"	file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <include if="$(arg kinect)"	file="$(find openni_launch)/launch/openni.launch">
    <arg name="camera"			value="camera"/>
    <arg name="depth_registration"	value="false"/>
    <arg name="publish_tf"		value="false"/>
  </include>

</launch>
