<launch>
  <rosparam command="load" file="$(find frc_robot)/config/localization.yaml"/>
  
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_odom" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_odom"/>
  </node>
  
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>
  
</launch>
