<launch>
  <arg name="auton" default="false" />
  <arg name="kinectlidar" default="false" />
  <arg name="robot" default="false" />
  <arg name="sim" default="false" />
  <arg name="slam" default="false" />
  <arg name="teleop" default="false" />
  <arg name="visualize" default="false" />

  <param name="use_sim_time" type="bool" value="$(arg sim)"/>
  
  <include if="$(arg auton)" file="$(find frc_robot)/launch/auton.launch"/>
  <include if="$(arg kinectlidar)" file="$(find frc_robot)/launch/kinectlidar.launch"/>
  <include if="$(arg robot)" file="$(find frc_robot)/launch/robot.launch"/>
  <include if="$(arg sim)" file="$(find frc_robot)/launch/sim.launch"/>
  <include if="$(arg slam)" file="$(find frc_robot)/launch/slam.launch"/>
  <include unless="$(arg sim)" file="$(find frc_robot)/launch/state_publishers.launch"/>
  <include if="$(arg teleop)" file="$(find frc_robot)/launch/teleop.launch"/>
  <include if="$(arg visualize)" file="$(find frc_robot)/launch/visualize.launch"/>
  
</launch>
