<launch>
  <arg name="model" 		default="$(find frc_robot)/urdf/00-default.urdf.xacro"/>
  <arg name="networktable"	default="true" />

  <param name="robot_description"	command="xacro --inorder $(arg model)" />
  
  <!-- Roborio communication -->
  
  <include if="$(arg networktable)"	file="$(find networktable_bridge)/launch/networktable_bridge.launch"/>
  
</launch>
