<launch>
  <rosparam command="load" file="$(find frc_robot)/config/slam.yaml"/>
    
  <!-- Choose hector_slam or icp_odometry for odometry -->
  <arg name="odom" default="false" />
  <arg name="camera_frame" default="camera"/>
  
  <!-- One of these provides the odom->base_link tf -->
  <include if="$(arg odom)" file="$(find frc_robot)/launch/localization.launch"/> -->
  <node unless="$(arg odom)" pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_link 100" />
  
  <!-- Odometry from laser scans -->
  <!-- If argument "hector" is true, we use Hector mapping to generate odometry for us -->
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen"/>
  
  <group ns="rtabmap">
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"		to="/$(arg camera_frame)/rgb/image_raw"/>
      <remap from="depth/image"		to="/$(arg camera_frame)/depth/image_raw"/>
      <remap from="rgb/camera_info"	to="/$(arg camera_frame)/rgb/camera_info"/>
      <remap from="rgbd_image"		to="rgbd_image"/> <!-- Output -->
    </node>

    <!-- SLAM -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
      <remap from="scan" to="/scan"/>

      <!-- As hector doesn't provide compatible covariance in the odometry topic, don't use the topic and fix the covariance -->
      <param name="odom_frame_id"            type="string" value="map"/>
      <param name="odom_tf_linear_variance"  type="double" value="0.0005"/>
      <param name="odom_tf_angular_variance"	type="double" value="0.0005"/>
      
    </node>
  </group>

</launch>
